.container {
  div {
    position: relative;
    .artist-img {
      width: 95%;
      height: 100%;
      &:hover {
        opacity: 0;
        transition: 0.3s;
      }
    }
    .artist-text {
      position: absolute;
      top: 0;
      color: black;
      font-size: 1rem;
      z-index: -1;
    }
  }
}
