.container {
  div {
    img {
      width: 100%;
      height: 100%;
      &:hover {
        opacity: 0.1;
        transition: 0.3s;
      }

      .artist {
        position: absolute;
        color: black;
        padding: 3px;
      }
    }
  }
}
