// THIS IS A STYLESHEET FOR ALL THE INFO-PAGES:
// überuns.html, mitmachen.html, kontakt.html
// agb.html, datenschutz.html, impressum.html

// PINK-BACKGROUND CONTAINER STYLE

.info-box {
  // width: 100%;
  margin: 0 auto;
  background-color: rgb(250, 227, 231);
  padding-top: 10px;

  h2 {
    margin: 15px;
    margin-bottom: 0px;
    color: $heading-color;
  }

  .dashed-border {
    height: 100%;
    margin: 10px;
    margin-top: 0px;
    padding: 10px;
    border-right: 1px dashed $heading-color;
    border-top: 1px dashed $heading-color;
  }

  .dashed-border {
    height: 100%;
    margin: 10px;
    margin-top: 0px;
    padding: 10px;
    border-right: 1px dashed $heading-color;
    border-top: 1px dashed $heading-color;
  }
}

@include media-breakpoint-up(md) {
  .info-box {
    margin-top: 80px;
    width: 77%;
  }
}

// .info-box {
//   border: 1px dashed $heading-color;
//   width: 100%;
//   margin: 0 auto;
//   background-color: rgba(255, 255, 255, 0.589);
//   z-index: 3;

//   h2 {
//     padding: 20px 10px 0px 0px;
//     color: $heading-color;
//   }

//   p {
//     padding: 10px;
//     color: black;
//   }

//   img {
//     width: 200px;
//     height: 200px;
//     object-fit: cover;
//   }
// }
