// EVENT-CARDS IN VERANSTALTUNGEN.HTML

.box {
  margin: 0 auto;
  height: 200px;
  width: 95%;
  overflow: hidden;
  background-image: url(../../dist/images/test-1.jpg);
  background-size: cover;
}

.hid-box {
  top: 85%;
  position: relative;
  transition: all 0.3s ease-out;
  background: rgba(253, 90, 172, 0.767);
  height: 100%;
  h3 {
    color: white;
    font-family: "Press Start 2p", cursive;
    padding: 10px 10px 5px 5px;
  }
  p {
    color: white;
    padding: 5px;
  }
  button {
    margin: 5px;
    text-decoration: none;
    background-color: white;

    a {
      text-decoration: none;
      color: $heading-color;
    }
  }
}

.box:hover > .hid-box {
  top: 0;
}

// BUTTON STYLE

.event-button {
  text-decoration: none;
  font-weight: 600;
  color: white;
}

.event-button:hover {
  text-decoration: none;
  color: black;
}

.event-button::before {
  content: "[ ";
  font-size: 1.5em;
  color: white;
}
.event-button::after {
  content: " ]";
  font-size: 1.5em;
  color: white;
}

@include media-breakpoint-up(sm) {
  .box {
    height: 33vh;
    width: 80%;
  }

  .hid-box {
    top: 85%;
    position: relative;
    transition: all 0.3s ease-out;
    background: rgba(253, 90, 172, 0.692);
    height: 100%;
  }
}

@include media-breakpoint-up(md) {
  .hid-box {
    top: 85%;
    position: relative;
    transition: all 0.3s ease-out;
    background: rgba(253, 90, 172, 0.829);
    height: 100%;
  }
}
