// THEME COLORS
$theme-colors: (
  "secondary": #8a8484,
  "primary": #fd5aab,
  "info": #f9db8c,
  "warning": #30e2fe
);

//---------------------------------------------
//
//  Table of Contents
//
//    1. Basics
//    2. Page Layout
//    3. Components
//
//---------------------------------------------
//---------------------------------------------
// 1. Basics
//---------------------------------------------
@import "../../node_modules/nes.css/css/nes.css";
@import "variables";
@import "bootstrap";
@import "fonts";

// FONT: Press Start 2P
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

// FONT: Quicksand (sans-serif)
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

// FONT: Source Code Pro
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

//---------------------------------------------
// 2. Page Layout
//---------------------------------------------

:root {
  font-size: 62.5%;
}

body {
  font-family: "Source Code Pro", sans-serif;
  // background-image: url(../../dist/images/bg-img.png);
}

// HEADER STYLE

// MAIN STYLE

.margin-main {
  margin-top: 70px;
  margin-bottom: 35px;
}

// PINK-BACKGROUND CONTAINER STYLE

.bg-transp {
  background-color: rgba(253, 90, 172, 0.685);
  color: white;
  font-weight: 500;
  height: 70vh;
  width: 60vw;
  margin: 0 auto;

  p {
    padding: 10px;
  }
}

// NAVBAR STYLE

nav {
  background-color: white;
}

.button {
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
}

.button::before {
  content: "[ ";
  font-size: 1.5em;
  color: #fd5aab;
}
.button::after {
  content: " ]";
  font-size: 1.5em;
  color: #fd5aab;
}

// CARDS EVENTS IN "VERANSTALTUNGEN"

.box {
  margin: 0 auto;
  height: 33vh;
  width: 100%;
  overflow: hidden;
  background-image: url(../../dist/images/test-1.jpg);
  background-size: contain;
}

.hid-box {
  top: 85%;
  position: relative;
  transition: all 0.3s ease-out;
  background: rgba(253, 90, 172, 0.692);
  height: 100%;
  h2 {
    color: white;
    font-family: "Press Start 2p", cursive;
    font-size: 0.8rem;
    padding: 5px;
  }
  p {
    padding: 5px;
    color: white;
    font-size: 0.8rem;
  }
  button {
    margin: 5px;
    font-size: 0.8rem;
  }
}

.box:hover > .hid-box {
  top: 0;
}

@include media-breakpoint-up(sm) {
  .box {
    height: 33vh;
    width: 80%;
  }

  .hid-box {
    top: 85%;
    position: relative;
    transition: all 0.3s ease-out;
    background: rgba(253, 90, 172, 0.692);
    height: 100%;
    h2 {
      font-size: 1rem;
    }
    p {
      font-size: 1rem;
    }
    button {
      font-size: 1rem;
    }
  }
}

@include media-breakpoint-up(md) {
  .box {
    height: 45vh;
    width: 50%;
  }

  .hid-box {
    top: 85%;
    position: relative;
    transition: all 0.3s ease-out;
    background: rgba(253, 90, 172, 0.829);
    height: 100%;
    h2 {
      font-size: 1.2rem;
    }
    p {
      font-size: 1.2rem;
    }
    button {
      font-size: 1.2rem;
    }
  }
}

// CARD FLIPS (BOOKING)

.card-container {
  perspective: 700px;
}
.card-flip {
  position: relative;
  transform-style: preserve-3d;
  height: auto;
  transition: all 0.3s ease-out;
  border: none;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  //   height: 100%;
  //   width: 100%;
}

.card-flip .front {
  position: relative;
  z-index: 1;
}

.card-flip .back {
  font-family: "Quicksand", sans-serif;
  position: absolute;
  z-index: 0;
  transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}

// FOOTER

//---------------------------------------------
// 3.Components
//---------------------------------------------

@import "components/slider";
