// THEME COLORS
$theme-colors: (
  "primary": #fd5aab,
  "secondary": rgb(136, 125, 125),
  "info": #f9db8c,
  "warning": #30e2fe
);

.current-page {
  @extend .active;
  color: #30e2fe;
}

//---------------------------------------------
//
//  Table of Contents
//
//    1. Basics
//    2. Page Layout
//    3. Components
//
//---------------------------------------------

//---------------------------------------------
// 1. Basics
//---------------------------------------------

@import "../../node_modules/nes.css/css/nes.css";
@import "variables";
@import "bootstrap";
@import "fonts";

// FONT: Press Start 2P
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

//---------------------------------------------
// 2. Page Layout
//---------------------------------------------

:root {
  font-size: 62.5%;
}

body {
  font-family: "Press Start 2P", cursive;
}

// CARD FLIPS

/* Flip Cards CSS */
.card-container {
  perspective: 700px;
}
.card-flip {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  //   height: auto;
  transition: all 0.3s ease-out;
  background: white;
  border: none;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  border: none;
}

.card-flip .front {
  position: relative;
  z-index: 1;
}

.card-flip .back {
  position: relative;
  z-index: 0;
  transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}

//---------------------------------------------
// 3.Components
//---------------------------------------------

@import "components/slider";
