// THEME COLORS
$theme-colors: (
  "secondary": #8a8484,
  "primary": #fd5aab,
  "info": #f9db8c,
  "warning": #30e2fe,
  "danger": #ffffff
);

$heading-color: #fd5aab;
$bg-color: #f9db8c;

//---------------------------------------------
//
//  Table of Contents
//
//    1. Basics
//    2. Page Layout
//    3. Components
//
//---------------------------------------------
//---------------------------------------------
// 1. Basics
//---------------------------------------------
@import "../../node_modules/nes.css/css/nes.css";
@import "variables";
@import "bootstrap";
@import "fonts";

@import "veranstaltungen";
@import "event-page";
@import "info-page";
@import "typography";

//---------------------------------------------
// 2. Page Layout
//---------------------------------------------

// GENERAL STYLES
:root {
  font-size: 62.5%;
}

body {
  font-family: "Source Code Pro", sans-serif;
  background-color: rgb(250, 246, 246);
}

// BACKGROUND FOR INDEX-PAGE

.white-background {
  background-color: white;
}

.logo {
  width: 40px;
}

@include media-breakpoint-up(md) {
  .logo {
    width: 60px;
  }
}

// BACKGROUND FOR INFO-PAGES
// .background {
//   position: fixed;
//   top: 0px;
//   width: 100%;
//   height: 100%;
//   background-color: rgb(250, 227, 231);
//   z-index: -1;
// }

// .content {
//   position: relative;
//   z-index: 4;
// }

// @include media-breakpoint-up(md) {
//   .background {
//     position: fixed;
//     top: 0px;
//     right: 0px;
//     width: 50%;
//     height: 100%;
//     background-color: rgb(250, 227, 231);
//     z-index: -1;
//   }
// }
// HEADER STYLE

// NAVBAR STYLE

nav {
  background-color: white;
}

.button {
  text-decoration: none;
  font-weight: 600;
}

.button:hover {
  text-decoration: none;
}

.button::before {
  content: "[ ";
  font-size: 1.5em;
  color: #fd5aab;
}
.button::after {
  content: " ]";
  font-size: 1.5em;
  color: #fd5aab;
}

// MAIN STYLE

.margin-main {
  margin-top: 70px;
  margin-bottom: 35px;
}

// FOOTER STYLE
footer {
  nav {
    background-color: white;
    ul {
      li {
        a {
          color: gray;
          text-decoration: none;
        }
      }
    }
  }
}

// H1 STYLE

h1 {
  padding: 10px;
  font-family: "Press Start 2P", cursive;
}

.h1-hidden {
  font-size: 1.5rem;
  padding: 10px;
}

@include media-breakpoint-up(md) {
  .h1-hidden {
    display: none;
  }
}

h2 {
  padding: 5px;
}

//---------------------------------------------
// 3.Components
//---------------------------------------------

@import "components/slider";
